.Rproj.user
.Rhistory
.RData
.Ruserdata
AWS*/
BoMdata/
Climate*/
GSDR_analysis/
GSDR-analysis_files/
GSDR-I/
Jason_AWS*/
*.Rdata
*.Rout
*.log
*.png
*.ppt*
*.out
*.pdf
*.gif
*.csv
*.html
*.nc
*.zip
*.dbf
*.prj
*.xml
*.shp
*.sbx
*.shx
*.sbn
*.dbf
*.cpg
*.gpkg
